label{
  font-size: 1.2rem;
  color: white;
}

form{
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background: #686D76;
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}

input{
  color:#373A40;
  font-size:1.2rem ;
}

.text-select{
  width: 60%; 
  padding: 0.6rem 0.5rem;
  margin: 0;
  min-width: 300px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: #373A40;
}

.short-input{
  width: 20%; 
  padding: 0.6rem 0.5rem;
  margin: 0;
  min-width: 220px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: #373A40;
}

.checkbox{
  margin:0 ;
  height: 25px;
  width: 25px;
  border-radius: 1rem;
}

.checkbox-container{
  color: white;
  vertical-align: middle;
}

.error{
  font-style: italic;
  
  color: rgb(255, 255, 255);
  margin: 0 0 1.2rem 0;
}

select{
  width: 60%;
  color:#373A40;
  padding: 0.6rem 0.5rem;
  font-size:1rem ;

  min-width: 300px;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

button{
  color: #373A40;
  margin: 1.5rem 1.5rem 1.5rem 0rem;
  border-radius: 0.5rem;
  background-color: #DC5F00; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.control-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.control{
  margin-bottom: 1rem;
}

