label{
  font-size: 1.2rem;
  color: white;
}

form{
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background: linear-gradient(180deg, #567878, #102d2d);
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}

input{
  width: 60%;
  color:black;
  font-size:1rem ;
  padding: 0.6rem 0.5rem;
  margin: 3.5px 12px 20px 0;
  min-width: 300px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: #102d2d;
}

span{
  font-style: italic;
  
  color: rgb(255, 255, 255);
  margin: 0 0 1.2rem 0;
}

select{
  width: 60%;
  color:black;
  padding: 0.6rem 0.5rem;
  font-size:1rem ;
  margin: 3.5px 12px 20px 0;
  min-width: 300px;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

button{
  color: black;
  margin: 1.5rem 1.5rem 1.5rem 0rem;
  border-radius: 0.5rem;
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
